body {
  background-color: rgb(206, 206, 206);
  font-family: "Montserrat", sans-serif;
}

.header {
  .navbar {
    .navbar-nav {
      .nav-link {
        color: $primary;
        font-weight: 600;
        margin: 0 10px;

        &:hover {
          font-weight: 700;
        }
      }
      .nav-link.active {
        font-weight: 700;
        color: $secondary;
      }
    }
  }
}
