.section-uno__contacto {
  margin-top: 80px;
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/Pagina-web-Gran-Tornillo/main/assets/images/banner-contacto.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    .row {
      height: 470px;
      .section-uno__info {
        h2 {
          font-size: clamp(1.875rem, 1.21rem + 2.128vw, 3.125rem);
          font-weight: bold;
        }
      }
    }
  }
}

.section-dos__contacto {
  padding: 50px 0 50px 0;
  .container {
    .section-dos__info {
      .izquierda {
        h3 {
          font-size: clamp(1.875rem, 1.429rem + 1.19vw, 2.5rem);
          font-weight: bold;
          color: $primary;
          margin-bottom: 30px;
          text-align: start;
        }
        .infor-contacto {
          text-align: start;
          font-size: 20px;
        }
      }
      .derecha {
        width: 100%;
        .btn {
          color: white;
        }
        .form-control {
          background-color: #f6f4f0;
          &::placeholder {
            color: #939393;
          }
        }
      }
    }
  }
}

.section-tres__contacto {
  padding: 50px 0 50px 0;
  h3 {
    font-size: clamp(1.875rem, 1.429rem + 1.19vw, 2.5rem);
    font-weight: bold;
    color: $primary;
    margin-bottom: 30px;
    // text-align: start;
  }
  .container {
    button {
      color: $primary;
      font-weight: bolder;
    }
    .link-acordion {
      display: inline;
      text-decoration-line: underline;
    }
  }
}
