.main-inicio {
  .section-uno {
    background-image: url(https://raw.githubusercontent.com/EdgarLopez95/Pagina-web-Gran-Tornillo/main/css/scss/pages/banner-inicio.webp);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: bottom; /* Alinea la imagen al centro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    .container {
      padding: 170px 0;
      .row {
        .section-uno__info {
          h1 {
            font-size: clamp(0.938rem, 0.771rem + 0.532vw, 1.25rem);
            color: white;
            font-weight: 600;
          }
          h2 {
            font-size: clamp(2.5rem, 0.838rem + 5.319vw, 5.625rem);
            color: white;
            font-weight: 800;
          }
          p {
            font-size: clamp(0.938rem, 0.771rem + 0.532vw, 1.25rem);
            color: white;
            font-weight: 500;
          }
          button {
            font-weight: 600;
            transition: all 300ms;
            &:hover {
              transform: scale(1.04);
              border: solid 1px $primary;
            }
          }
        }
      }
    }
  }
}
