.main-inicio {
 
  .section-uno {
    background-image: url(https://raw.githubusercontent.com/EdgarLopez95/Pagina-web-Gran-Tornillo/main/assets/images/banner-inicio.webp);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: bottom; /* Alinea la imagen al centro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    .container {
      padding: 170px 0;
      .row {
        .section-uno__info {
          h1,
          p {
            font-size: clamp(0.938rem, 0.771rem + 0.532vw, 1.25rem);
            color: white;
            font-weight: 600;
          }
          h2 {
            font-size: clamp(2.5rem, 0.838rem + 5.319vw, 5.625rem);
            color: white;
            font-weight: 800;
          }
          p {
            font-weight: 500;
          }
          button {
            font-weight: 600;
            transition: all 300ms;
            &:hover {
              transform: scale(1.04);
              border: solid 1px $primary;
            }
          }
        }
      }
    }
  }
  .section-dos {
    background-color: white;
    .container {
      padding: 50px 0 100px 0;
      .section-dos__info {
        h3 {
          font-size: clamp(1.875rem, 1.21rem + 2.128vw, 3.125rem);
          font-weight: bold;
          color: $primary;
        }
        .section-dos-cards {
          border: solid 1px rgb(184, 184, 184);
          border-radius: 10px;
          h4 {
            font-size: clamp(1.25rem, 1.084rem + 0.532vw, 1.563rem);
            font-weight: bold;
            color: $primary;
          }
        }
      }
    }
  }
  .section-tres {
    .container-fluid {
      // padding: 50px 0;
      .section-tres__info {
        // height: 800px;
        .section-tres__izquierda {
          .carousel {
            .carousel-control-prev-icon,
            .carousel-control-next-icon {
              background-color: $primary;
              background-size: 100%, 100%;
              border-radius: 10%;
              // padding: 10px 10px;
              height: 30px;
              width: 30px;
            }
          }
        }
        .section-tres__derecha {
          background-image: url(https://raw.githubusercontent.com/EdgarLopez95/Pagina-web-Gran-Tornillo/main/assets/images/imagen-derecha-inicio.webp);
          .info {
            max-width: 610px;
            max-height: 826px;
            h3 {
              font-size: clamp(1.875rem, 1.21rem + 2.128vw, 3.125rem);
              font-weight: bold;
              color: $secondary;
            }
            p {
              color: white;
            }
            .section-tres-cards {
              background-color: #20384a;
              border: 1px solid #3a6883;
              border-radius: 10px;
              transition: all 300ms;
              &:hover {
                background-color: rgba(20, 39, 54, 0.308);
                transform: scale(1.03);
              }
              img {
              }
              h5 {
                color: white;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .section-cuatro {
    padding: 50px 0 100px 0;
    .container {
     
      .section-cuatro__info {
        h3 {
          font-size: clamp(1.875rem, 1.21rem + 2.128vw, 3.125rem);
          font-weight: bold;
          color: $primary;
        }
        img {
          //width: 5%;
        }
      }
    }
  }
}
