.section-uno__nosotros {
  margin-top: 80px;
  background-image: url(https://raw.githubusercontent.com/EdgarLopez95/Pagina-web-Gran-Tornillo/main/assets/images/banner-nosotros.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    .row {
      height: 470px;
      .section-uno__info {
        h2 {
          font-size: clamp(1.875rem, 1.21rem + 2.128vw, 3.125rem);
          font-weight: bold;
        }
      }
    }
  }
}
.section-dos__nosotros {
  padding: 50px 0 100px 0;
  .container {
    .section-dos__info {
      .section-dos__arriba {
        //height: 600px;
        p {
          text-align: justify;
        }
      }
      .section-dos__abajo {
        //height: 600px;
        p {
          text-align: justify;
        }
        h3{
            text-align: start;
            font-size: 25;
            font-weight: bold;
            color: $primary;
            margin: 30px 0;
        }
        .texto{
            display: flex;
            margin-bottom: 10px;
            img{
                margin-right: 10px;
            }
        }
      }
    }
  }
}
.section-tre__nosotros {
  .container {
    .section-dos__info {
    }
  }
}
.section-cuatro__nosotros {
  .container {
    .section-dos__info {
    }
  }
}
